<%- include('partials/header') %>
<div class="container ">

    <h2> Distribution Validation</h2>
    <form action="/distribution/store/form %>" method="POST"  autocomplete = 'on'>
        <div class="form-content">
            <input type="hidden" name="check" value="<%= items[1]%>">
            <input type="hidden" name="initial_qty" value="<%= items[0].quantity %>">
            <input type="text" name="id" value ="<%= items[0].order_id %>" ><br>
            <input type="text" name="product" value ="<%= items[0].product %>" ><br>
            <input type="text" name="quality" value ="<%= items[0].quality%>" ><br>
            <input type="text" name="quantity" value ="<%= items[0].quantity%>" placeholder="Quantity in kgs" required><br>
            <input type="text" name="payment" value ="<%= items[0].payment%>" placeholder="Payment"><br>
            <input type="text" name="collection_point" value ="<%= items[0].collection_point %>"><br>
            <label for="">Expected payment date:</label>
            <input type="date" name="expected_date" value ="<%= items[0].expected_date%>"><br>
            <label for="">Actual payment date:</label>
            <input type="date" name="actual_date" value ="<%= items[0].actual_date%>"><br>
            <label for="delivery">Delivery Status: 
                <select name="delivery">
                    <option value="Delivered">Delivered</option>
                    <option value="Pending">Pending</option>
                </select><br>
            </label>
            <!--  -->
            <label for="groupName">Group Name: 
                <select name="groupName" value = <%= items[0].groupName %> >
                    <%for (let group of groups){ %>
                    
                        <option value="Kiambu"><%= group.groupName %></option>
                    <%}%>             
                </select><br>
            </label>
            <div class="form-btns">
                <a href="/distribution" class="btn">Cancel</a>
                <input type="submit" class="btn" value = "Save">
            </div>
        </div>    
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
crossorigin="anonymous"></script>
<script>
   let content = document.getElementById('content');
   content.value = '<%= items.content %>';
</script>

<%- include('partials/footer') %>