<%- include('partials/header') %>
    <div class='container'>
        <h1>Farmers</h1>
        <table>
            <th>Farmer id</th>
            <th>Name</th>
            <th>Group</th>
            <th>Mobile number</th>
            <th>Plot Nature</th>
            <th>Plot Size</th>
            <th>Value Chain</th>
            <th>Action</th>
        <% for (item of items){ %>
            <tr>
                <td><%= item.id %></td>
                <td><%= item.name %></td>
                <td><%= item.groupName %></td>
                <td><%= item.tel %></td>
                <td><%= item.plotNature %></td>
                <td><%= item.plotSize %></td>
                <td><%= item.valueChain %></td>
                <td>
                <!-- <form action="/farmers/<%= item.id %>" method="post">
                        <input type="submit" class="btn edit" value ="Edit">
                    </form> -->
                    <!-- edit button -->
                    <a class = "btn edit" href="/farmers/<%= item.id %>">Edit</a>
                    <!-- delete button -->
                    <form action= "/delete/<%= item.id%>" method="post">
                        <input class = "btn delete" type="submit" value="Delete">
                    </form>
                </td>
            </tr>
       <% } %>
       
    </div>
    <a href="#"><button>See More</button></a>
</body>
</html>